{
  "parserOptions": {
    "ecmaVersion": 12
  },
  "extends": [ "airbnb-base", "prettier" ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [ "prettier" ],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off"
  }
}